.jumbotron{
	background-color: #FFBF00;
	color: black;
	margin-top: 20px;
	padding-bottom: 20px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #FFBF00;
	margin-bottom: 0px;
	margin-top: 10px;
}

.btn{
	color: white;
	background-color: #33CC00;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.btn-contacto{
	color: white;
	background-color: #1E90FF;
}

.servicios{
	padding-left: 15px;
}