.jumbotron {
  background-color: #ffc721;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #ffc721;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn {
  color: white;
  background-color: #33CC00;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.btn-contacto {
  color: white;
  background-color: #1E90FF;
}

.servicios {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}

/*# sourceMappingURL=styles.css.map */
