@orange: #ffc721;
@red: #ff2f00;
@yellow: #ffea00;
@green: #33CC00;
@blue: #1E90FF;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @orange;
  color: black;
  .margenes(20px, 20px); 
}

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: @orange;
  .margenes(10px, 0px); 
}

.btn {
  color: white;
  background-color: @green; 
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.btn-contacto {
  color: white;
  background-color: #1E90FF; }

.servicios {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px; }
