$orange: #ffc721;
$red: #ff2f00;
$yellow: #ffea00;
$green: #33CC00;
$blue: #1E90FF;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

.jumbotron{
	background-color: $orange;
	color: black;
	@include margenes(20px, 20px);
}

footer{
	@include padding(10px, 10px, 0px, 10px); 
	background-color: $orange;
	@include margenes(10px, 0px);
}

.btn{
	color: white;
	background-color: $green;
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	@include padding(0px,10px,0px,0px);
}

.tab-content{
	@include padding(10px,0px,0px,0px);
}

.btn-contacto{
	color: white;
	background-color: $blue;
}

.servicios{
	@include padding(0px,0px,0px,15px);
}